.theme-dark { /* Original Black */
   --color-background-primary: black;
   --color-background-nav: #222;
   --color-background-subnav: #333;
   --color-link: green;
   --color-link-hover: yellow;
   --color-accent: orange;
   --color-image-border: black;
   --color-font: white;
}

.theme-light { /* Blue */
   --color-background-primary: #f7fbfc;
   --color-background-nav: #a7b7c2;
   --color-background-subnav: #b6c7d2;
   --color-link: #184a72;
   --color-link-hover: #b9d7ea;
   --color-accent: #d23c27;
   --color-image-border: black;
   --color-font: black;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background-primary);
  color: var(--color-font);
  font-family: Arial, Verdana;
}

.mainbody {
  padding: 0px 16px;
  min-height: 100vh; /* 76vh */
}

a:link {
  color: var(--color-link);
  text-decoration: none;
}
a:visited {
  color: var(--color-link);
  text-decoration: none;
}
a:hover {
  color: var(--color-link-hover);
}
a:active {
  color: var(--color-link-hover);
  text-decoration: none;
  /* font-weight: bold; */
}

ul {
    list-style-type: none;
	padding: 5px 5px 5px 5px;
}


button {
  background: var(--color-background-primary);
  color: var(--color-link);
  padding: 0px;
  text-decoration: none;
  display: inline-block;
  border: 2px solid var(--color-background-primary);
}
button:hover {
  cursor: pointer;
}
button:active {
  color: var(--color-link-hover);
  text-decoration: none;
}


input {
  background: var(--color-background-subnav);
  color: var(--color-font);
  padding: 5px;
  border: 0;
  border-radius:10px;
  font-size: 14px;
}



